@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutVideo";
}


@{
    string ip = "12.123";
    var users = VideoOwned.users;
    var lstVideoes = ViewBag.Videoes as List<Video>;
    var DomainName = "";//HttpContextAccessor.HttpContext.Request.Scheme + "://" + HttpContextAccessor.HttpContext.Request.Host;
}

<style>
    .qrcode {
        width: 128px;
        height: 128px;
        margin: 0 auto;
        text-align: center;
    }
</style>
@*<h2>@ip</h2>*@
<div class="container">
    @foreach (var item in lstVideoes)
    {
        <br />
        <div class="row">
            <div class="col-lg-10" style="color:blue"><h2>@item.Title</h2></div>
        </div>
        <div class="row">
            @{
                string img = "/images/" + item.Id + ".PNG";
            }
            @if (users.FirstOrDefault(x => x.Id == item.Id && x.Ip == ip) == null)
            {
                <div class="col-xs-8" style="height:500px;background-image:url('@img');background-repeat: no-repeat;">
                    <div id="div_@item.Id" class="text-center">
                        <div class="qrcode">
                            
                        </div>



                        <h2 class="" style="background-color:white;">Pay @item.Price INR to UnLock this Video</h2>
                    </div>

                    <iframe id="iframe_@item.Id" width="870" height="490" class="hide"
                            src=""></iframe>
                </div>
            }
            else
            {
                <div class="col-xs-8">
                    <iframe id="iframe_@item.Id" width="870" height="490" class=""
                            src="https://www.youtube.com/embed/@item.URL?rel=0&autoplay=1"></iframe>
                </div>
            }
        </div>

        <div class="col-xs-4">
            
        </div>

    }
</div>



@section Scripts{
    <script src="~/js/qrcode.js"></script>

    <script>
        $('.qrcode').each(function () {
            //https://codepen.io/html5andblog/pen/rLQdNV
            var $this = $(this);
            var value = $this.text().trim();
            //alert(value);
            // Clear Previous QR Code
            //ethereum:0x45BD27bB68B07FE9541B26955d880b70df34B960?value=1000000000000000000
            $this.html('');

            // Set Size to Match User Input
            var qrSize = 200;

            $this.css({
                'width': qrSize,
                'height': qrSize
            })

            // Generate and Output QR Code
            $this.qrcode({ width: qrSize, height: qrSize, text: value });

        });
    </script>

   
<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
        type="application/javascript"></script>
<script>
   var abi = [
  "event Transfer(address indexed src, address indexed dst, uint val)"
];
var tokenAddress = '0x939200406107c99C0E41426DeB7bD1600E81f4E5';
var provider = new ethers.providers.JsonRpcProvider('https://blockchain.ramestta.com');
var contract = new ethers.Contract(tokenAddress, abi, provider);
console.log(contract)
var myAddress = "0x61A4660b9A48337b9e245a0Ec11E618fB44eB0Ff";
var filter = contract.filters.Transfer(null, myAddress)

contract.on(filter, (from, to, amount, event) => {
    console.log(amount.toString())
    //alert('u paid: '+ethers.utils.formatEther(amount.toString()))
    $.get("/home/video?price="+ethers.utils.formatEther(amount.toString()), function(data, status){
    console.log('#div_'+data.id+'');
    $('#div_'+data.id+'').parent().attr('style','');
        $('#div_'+data.id+'').remove();
        $('#iframe_'+data.id+'').removeClass('hide').attr('src','https://www.youtube.com/embed/'+data.url+'?rel=0&autoplay=1');

  });
    //var c=sendEther(from, amount);
    //console.log(c)
    //alert(amount + '  '+from);
});


</script>
}
