@{
    string ip = "12.123";
    int _min = 100;
    int _max = 999;
    Random _rdm = new Random();
    var number= _rdm.Next(_min, _max);
    string value = number+"0000000000000";
    var users = VideoOwned.users;
    var lstVideoes = ViewBag.Videoes as List<Video>;
    var DomainName = "";//HttpContextAccessor.HttpContext.Request.Scheme + "://" + HttpContextAccessor.HttpContext.Request.Host;
}
<div class="section section-padding">
        <div class="container">
            <div style="display:none">
                <div class="checkout-coupon">
                <p class="coupon-toggle">Have a coupon? <a href="#checkout-coupon-form" data-bs-toggle="collapse">Click here to enter your code</a></p>
                <div id="checkout-coupon-form" class="collapse">
                    <div class="coupon-form">
                        <p>If you have a coupon code, please apply it below.</p>
                        <form action="#" class="learts-mb-n10">
                            <input class="learts-mb-10" type="text" placeholder="Coupon code">
                            <button class="btn btn-dark btn-outline-hover-dark learts-mb-10">apply coupon</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="section-title2">
                <h2 class="title">Billing details</h2>
            </div>
            <form action="#" class="checkout-form learts-mb-50">
                <div class="row">
                    <div class="col-md-6 col-12 learts-mb-20">
                        <label for="bdFirstName">FIrst Name <abbr class="required">*</abbr></label>
                        <input type="text" id="bdFirstName">
                    </div>
                    <div class="col-md-6 col-12 learts-mb-20">
                        <label for="bdLastName">Last Name <abbr class="required">*</abbr></label>
                        <input type="text" id="bdLastName">
                    </div>
                    <div class="col-12 learts-mb-20">
                        <label for="bdCompanyName">Company name (optional)</label>
                        <input type="text" id="bdCompanyName">
                    </div>
                    <div class="col-12 learts-mb-20">
                        <label for="bdCountry">Country <abbr class="required">*</abbr></label>
                        <select id="bdCountry" class="select2-basic select2-hidden-accessible" data-select2-id="bdCountry" tabindex="-1" aria-hidden="true">
                            <option value="">Select a country…</option>
                            <option value="AX">Åland Islands</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD" selected="" data-select2-id="5">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="PW">Belau</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia</option>
                            <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                            <option value="BA">Bosnia and Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BV">Bouvet Island</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="BN">Brunei</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo (Brazzaville)</option>
                            <option value="CD">Congo (Kinshasa)</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CW">Curaçao</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GG">Guernsey</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard Island and McDonald Islands</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IM">Isle of Man</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="CI">Ivory Coast</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JE">Jersey</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Laos</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macao</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia</option>
                            <option value="MD">Moldova</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="ME">Montenegro</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="KP">North Korea</option>
                            <option value="MK">North Macedonia</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PS">Palestinian Territory</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Reunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russia</option>
                            <option value="RW">Rwanda</option>
                            <option value="ST">São Tomé and Príncipe</option>
                            <option value="BL">Saint Barthélemy</option>
                            <option value="SH">Saint Helena</option>
                            <option value="KN">Saint Kitts and Nevis</option>
                            <option value="LC">Saint Lucia</option>
                            <option value="SX">Saint Martin (Dutch part)</option>
                            <option value="MF">Saint Martin (French part)</option>
                            <option value="PM">Saint Pierre and Miquelon</option>
                            <option value="VC">Saint Vincent and the Grenadines</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="RS">Serbia</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SK">Slovakia</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia/Sandwich Islands</option>
                            <option value="KR">South Korea</option>
                            <option value="SS">South Sudan</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SD">Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard and Jan Mayen</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="SY">Syria</option>
                            <option value="TW">Taiwan</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania</option>
                            <option value="TH">Thailand</option>
                            <option value="TL">Timor-Leste</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad and Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks and Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom (UK)</option>
                            <option value="US">United States (US)</option>
                            <option value="UM">United States (US) Minor Outlying Islands</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VA">Vatican</option>
                            <option value="VE">Venezuela</option>
                            <option value="VN">Vietnam</option>
                            <option value="VG">Virgin Islands (British)</option>
                            <option value="VI">Virgin Islands (US)</option>
                            <option value="WF">Wallis and Futuna</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="4" style="width: 326px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-bdCountry-container"><span class="select2-selection__rendered" id="select2-bdCountry-container" role="textbox" aria-readonly="true" title="Bangladesh">Bangladesh</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                    <div class="col-12 learts-mb-20">
                        <label for="bdAddress1">Street address <abbr class="required">*</abbr></label>
                        <input type="text" id="bdAddress1" placeholder="House number and street name">
                    </div>
                    <div class="col-12 learts-mb-20">
                        <label for="bdAddress2" class="sr-only">Apartment, suite, unit etc. (optional)</label>
                        <input type="text" id="bdAddress2" placeholder="Apartment, suite, unit etc. (optional) ">
                    </div>
                    <div class="col-12 learts-mb-20">
                        <label for="bdTownOrCity">Town / City <abbr class="required">*</abbr></label>
                        <input type="text" id="bdTownOrCity">
                    </div>
                    <div class="col-12 learts-mb-20">
                        <label for="bdDistrict">District <abbr class="required">*</abbr></label>
                        <select id="bdDistrict" class="select2-basic select2-hidden-accessible" data-select2-id="bdDistrict" tabindex="-1" aria-hidden="true">
                            <option value="" data-select2-id="7">Select an option…</option>
                            <option value="BD-05">Bagerhat</option>
                            <option value="BD-01">Bandarban</option>
                            <option value="BD-02">Barguna</option>
                            <option value="BD-06">Barishal</option>
                            <option value="BD-07">Bhola</option>
                            <option value="BD-03">Bogura</option>
                            <option value="BD-04">Brahmanbaria</option>
                            <option value="BD-09">Chandpur</option>
                            <option value="BD-10">Chattogram</option>
                            <option value="BD-12">Chuadanga</option>
                            <option value="BD-11">Cox's Bazar</option>
                            <option value="BD-08">Cumilla</option>
                            <option value="BD-13">Dhaka</option>
                            <option value="BD-14">Dinajpur</option>
                            <option value="BD-15">Faridpur </option>
                            <option value="BD-16">Feni</option>
                            <option value="BD-19">Gaibandha</option>
                            <option value="BD-18">Gazipur</option>
                            <option value="BD-17">Gopalganj</option>
                            <option value="BD-20">Habiganj</option>
                            <option value="BD-21">Jamalpur</option>
                            <option value="BD-22">Jashore</option>
                            <option value="BD-25">Jhalokati</option>
                            <option value="BD-23">Jhenaidah</option>
                            <option value="BD-24">Joypurhat</option>
                            <option value="BD-29">Khagrachhari</option>
                            <option value="BD-27">Khulna</option>
                            <option value="BD-26">Kishoreganj</option>
                            <option value="BD-28">Kurigram</option>
                            <option value="BD-30">Kushtia</option>
                            <option value="BD-31">Lakshmipur</option>
                            <option value="BD-32">Lalmonirhat</option>
                            <option value="BD-36">Madaripur</option>
                            <option value="BD-37">Magura</option>
                            <option value="BD-33">Manikganj </option>
                            <option value="BD-39">Meherpur</option>
                            <option value="BD-38">Moulvibazar</option>
                            <option value="BD-35">Munshiganj</option>
                            <option value="BD-34">Mymensingh</option>
                            <option value="BD-48">Naogaon</option>
                            <option value="BD-43">Narail</option>
                            <option value="BD-40">Narayanganj</option>
                            <option value="BD-42">Narsingdi</option>
                            <option value="BD-44">Natore</option>
                            <option value="BD-45">Nawabganj</option>
                            <option value="BD-41">Netrakona</option>
                            <option value="BD-46">Nilphamari</option>
                            <option value="BD-47">Noakhali</option>
                            <option value="BD-49">Pabna</option>
                            <option value="BD-52">Panchagarh</option>
                            <option value="BD-51">Patuakhali</option>
                            <option value="BD-50">Pirojpur</option>
                            <option value="BD-53">Rajbari</option>
                            <option value="BD-54">Rajshahi</option>
                            <option value="BD-56">Rangamati</option>
                            <option value="BD-55">Rangpur</option>
                            <option value="BD-58">Satkhira</option>
                            <option value="BD-62">Shariatpur</option>
                            <option value="BD-57">Sherpur</option>
                            <option value="BD-59">Sirajganj</option>
                            <option value="BD-61">Sunamganj</option>
                            <option value="BD-60">Sylhet</option>
                            <option value="BD-63">Tangail</option>
                            <option value="BD-64">Thakurgaon</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="6" style="width: 156px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-bdDistrict-container"><span class="select2-selection__rendered" id="select2-bdDistrict-container" role="textbox" aria-readonly="true" title="Select an option…">Select an option…</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                    <div class="col-12 learts-mb-20">
                        <label for="bdPostcode">Postcode / ZIP (optional)</label>
                        <input type="text" id="bdPostcode">
                    </div>
                    <div class="col-md-6 col-12 learts-mb-20">
                        <label for="bdEmail">Email address <abbr class="required">*</abbr></label>
                        <input type="text" id="bdEmail">
                    </div>
                    <div class="col-md-6 col-12 learts-mb-30">
                        <label for="bdPhone">Phone <abbr class="required">*</abbr></label>
                        <input type="text" id="bdPhone">
                    </div>
                    <div class="col-12 learts-mb-40">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Create an account?</label>
                        </div>
                    </div>
                    <div class="col-12 learts-mb-20">
                        <label for="bdOrderNote">Order Notes (optional)</label>
                        <textarea id="bdOrderNote" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                    </div>
                </div>
            </form>
            </div>
            <div class="section-title2 text-center">
                <h2 class="title">Your order</h2>
            </div>
            <div class="row learts-mb-n30">
                <div class="col-lg-6 order-lg-2 learts-mb-30">
                    <div class="order-review">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="name">Product</th>
                                    <th class="total">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="name">Walnut Cutting Board&nbsp; <strong class="quantity">×&nbsp;1</strong></td>
                                    <td class="total"><span>$10.00</span></td>
                                </tr>
                                <tr>
                                    <td class="name">Pizza Plate Tray&nbsp; <strong class="quantity">×&nbsp;1</strong></td>
                                    <td class="total"><span>$22.00</span></td>
                                </tr>
                                <tr>
                                    <td class="name">Minimalist Ceramic Pot - Pearl river, Large&nbsp; <strong class="quantity">×&nbsp;1</strong></td>
                                    <td class="total"><span>$12.00</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="subtotal">
                                    <th>Subtotal</th>
                                    <td><span>$24.@number</span></td>
                                </tr>
                                <tr class="total">
                                    <th>Total</th>
                                    <td><strong><span>$24.@number</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="qrcode">
                            ethereum:0x61A4660b9A48337b9e245a0Ec11E618fB44eB0Ff?value=@value
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1 learts-mb-30">
                    <div class="order-payment">
                        <div class="payment-method">
                            <div class="accordion" id="paymentMethod">
                                <div class="card active">
                                    <div class="card-header">
                                        <button data-bs-toggle="collapse" data-bs-target="#checkPayments">Pay With RAMA(3% Discount)</button>
                                    </div>
                                    <div id="checkPayments" class="collapse show" data-bs-parent="#paymentMethod">
                                        <div class="card-body">
                                            <p>Please pay with RAMA coin using Any Wallet.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button data-bs-toggle="collapse" data-bs-target="#cashkPayments">Cash on delivery </button>
                                    </div>
                                    <div id="cashkPayments" class="collapse" data-bs-parent="#paymentMethod">
                                        <div class="card-body">
                                            <p>Pay with cash upon delivery.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button data-bs-toggle="collapse" data-bs-target="#payPalPayments">PayPal <img src="assets/images/others/pay-2.webp" alt=""></button>
                                    </div>
                                    <div id="payPalPayments" class="collapse" data-bs-parent="#paymentMethod">
                                        <div class="card-body">
                                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="payment-note">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                            <button id="btnProgress" class="btn btn-dark btn-outline-hover-dark">place order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                        @section Scripts{
    <script src="~/js/qrcode.js"></script>

    <script>
        $('.qrcode').each(function () {
            //https://codepen.io/html5andblog/pen/rLQdNV
            var $this = $(this);
            var value = $this.text().trim();
            //alert(value);
            // Clear Previous QR Code
            //ethereum:0x45BD27bB68B07FE9541B26955d880b70df34B960?value=1000000000000000000
            $this.html('');

            // Set Size to Match User Input
            var qrSize = 200;

            $this.css({
                'width': qrSize,
                'height': qrSize
            })

            // Generate and Output QR Code
            $this.qrcode({ width: qrSize, height: qrSize, text: value });

        });
    </script>

   
<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
        type="application/javascript"></script>
<script>
   var abi = [
  "event Transfer(address indexed src, address indexed dst, uint val)",
  "event LogTransfer(address indexed token, address indexed from, address indexed to, uint256 amount, uint256 input1, uint256 input2, uint256 output1,uint256 output2)"
];
var tokenAddress = '0x0000000000000000000000000000000000001010';
var provider = new ethers.providers.JsonRpcProvider('https://blockchain.ramestta.com');
var contract = new ethers.Contract(tokenAddress, abi, provider);
console.log(contract)
var myAddress = "0x61A4660b9A48337b9e245a0Ec11E618fB44eB0Ff";
//var filter = contract.filters.Transfer(null, myAddress)
var filter1 = contract.filters.LogTransfer(null,null,myAddress)
contract.on(filter1, (token,from, to, amount,input1,input2,output1,output2, event) => {
    var val = ethers.utils.formatEther(amount.toString());
    console.log('@value'+' f1 '+amount.toString())
    $('#btnProgress').html('Payment is Done. Received '+val +' RAMA' );
    if ('@value' == amount.toString()) {
        alert('Successfully Paid..!');
        location.href = '/User/PlaceOrder?total='+val;
    }
    
})




</script>
}